<div id="mask_form">


<ul class="nav nav-pills nav-justified mb-3" id="ex1" role="tablist">
    <li class="nav-item" role="presentation">
      <a
        class="nav-link active"
        id="tab-login"
        data-mdb-toggle="pill"
        href="#pills-login"
        role="tab"
        aria-controls="pills-login"
        aria-selected="true"
        >Login</a
      >
    </li>
    <li class="nav-item" role="presentation">
      <a
        class="nav-link"
        id="tab-register"
        data-mdb-toggle="pill"
        href="#pills-register"
        role="tab"
        aria-controls="pills-register"
        aria-selected="false"
        >Register</a
      >
    </li>
  </ul>
  <!-- Pills content -->
<div class="tab-content">
    <div
      class="tab-pane fade show active"
      id="pills-login"
      role="tabpanel"
      aria-labelledby="tab-login"
    >
      <form action="/submit" method="POST">
        
  
        <!-- Email input -->
        <div class="form-outline mb-4">
          <input required type="text" id="loginName" name="uname"class="form-control" />
          <label class="form-label" for="loginName">username</label>
        </div>
  
        <!-- Password input -->
        <div class="form-outline mb-4">
          <input  required type="password"  name="psw" id="loginPassword" class="form-control" />
          <label class="form-label" for="loginPassword">Password</label>
        </div>
  
        <!-- 2 column grid layout -->
        <div class="row mb-4">
          <div class="col-md-6 d-flex justify-content-center">
            <!-- Checkbox -->
            <div class="form-check mb-3 mb-md-0">
              <input
                class="form-check-input"
                type="checkbox"
                value=""
                id="loginCheck"
                checked
              />
              <label class="form-check-label" for="loginCheck"> Remember me </label>
            </div>
          </div>
  
          <div class="col-md-6 d-flex justify-content-center">
            <!-- Simple link -->
            <a href="#!">Forgot password?</a>
          </div>
        </div>
  
        <!-- Submit button -->
        <button type="submit" formaction="/SignIn/" class="btn btn-primary btn-block mb-4">Sign in</button>
  
        <!-- Register buttons -->
        <div class="text-center">
          <p>Not a member? <a href="#!">Register</a></p>
          <span style="color:red"><%= error %></span>

        </div>
        
      </form>
    </div>
    <div
      class="tab-pane fade"
      id="pills-register"
      role="tabpanel"
      aria-labelledby="tab-register"
    >
      <form action="/Register/" method="post">
        <div class="row mb-4">
          <div class="col">
            <div class="form-outline">
              <input required type="text" name="uname" id="form6Example1" class="form-control" />
              <label class="form-label" for="form6Example1">UserName</label>
            </div>
          </div>
          <div class="col">
            <div class="form-outline">
              <input  required type="text" name="psw" id="form6Example2" class="form-control" />
              <label class="form-label" for="form6Example2">Password</label>
            </div>
          </div>
        </div>
  
       <!-- 2 column grid layout with text inputs for the first and last names -->
  <div class="row mb-4">
    <div class="col">
      <div class="form-outline">
        <input  required type="text" name="fname" id="form6Example1" class="form-control" />
        <label class="form-label" for="form6Example1">First name</label>
      </div>
    </div>
    <div class="col">
      <div class="form-outline">
        <input  required type="text" name="lname" id="form6Example2" class="form-control" />
        <label class="form-label" for="form6Example2">Last name</label>
      </div>
    </div>
  </div>

  <!-- Text input -->
  <div class="form-outline mb-4">
    <input required type="text" name="country" id="form6Example3" class="form-control" />
    <label class="form-label" for="form6Example3">Country</label>
  </div>

  <!-- Text input -->
  <div class="form-outline mb-4">
    <input required type="number" name="zipcode" id="form6Example4" class="form-control" />
    <label class="form-label" for="form6Example4">ZipCode</label>
  </div>

  <!-- text input -->
  <div class="form-outline mb-4">
    <input required type="text" name="city" id="form6Example5" class="form-control" />
    <label class="form-label" for="form6Example5">City</label>
  </div>

  <!-- text input -->
  <div class="form-outline mb-4">
    <input required ype="text" name="street" id="form6Example6" class="form-control" />
    <label class="form-label" for="form6Example6">Street</label>
  </div>
  <div class="form-outline mb-4">
    <input required type="text" name ="state" id="form6Example6" class="form-control" />
    <label class="form-label" for="form6Example6">State</label>
  </div>
  <!-- Message input -->
  <div class="form-outline mb-4">
    <textarea class="form-control" name="bio" id="form6Example7" rows="4"></textarea>
    <label class="form-label" for="form6Example7">BIO INFORMATION </label>
  </div>

 
  <span style="color:red"><%= error %></span>

  <!-- Submit button -->
  <button type="submit" class="btn btn-primary btn-block mb-4">Sign Up </button>
      </form>
    </div>
  </div>
  <!-- Pills content -->
  </div>