<footer class="text-center text-lg-start">
    <!-- Copyright -->
    <div class="text-center p-3" >
      © 2021 Copyright:
      <a class="text-dark" >ScrumApp.com</a>
    </div>
    <!-- Copyright -->

    <div class="text-center p-3" >
        Author:
        <a class="text-dark" >Danh Pham</a>
      </div>
  </footer>