<!-- Just an image -->
<header>
  <div>
   
    <div id="scrum"><div>      <img src="/logo/ScrumApp"  alt="logo">
    </div></div>

    <div id="scrum"><div>Scrum App</div></div>
  </nav></div>
  
</header>
