
<!-- Modal -->
<div
  class="modal fade"
  id="makeproject"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Project Creation</h5>
        <button
          type="button"
          class="btn-close"
          data-mdb-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>

      <div class="modal-body ">
            
   <div class="d-flex justify-content-center align-items-center">
            <form action="/makeprojects/"  method="post" >

              <% if(team_withoutproject) {%>

                <select class="browser-default custom-select" name="team_id" required>
                    <option value="" disabled selected>Please Choose Team</option>
                    <% for(let i =0 ;  i < team_withoutproject.length ; i++) {%>
                    <option value='<%=team_withoutproject[i].Team_id%>'><%=team_withoutproject[i].TeamName%></option>
                    <% }%>
             
                </select>
             
                <% }%>
            <!-- 2 column grid layout with text inputs for the first and last names -->
            <div class="form-outline mb-4">
                <input type="text" name="Title" required id="form4Example1" class="form-control" />
                <label class="form-label" for="form4Example1">Project Title</label>
               
              </div>
            
              <!-- des input -->
              <div class="form-outline mb-4">
                <textarea type="text" name="Description" required  class="form-control"></textarea>  
                <label class="form-label" for="form4Example2">Description</label>
              </div>
              <div class="form-outline mb-4">
                <input type="date" name="date" required  min="1997-01-01" max="2030-12-31" id="form4Example2" class="form-control" />
              </div>

                <button  type="submit" class="btn btn-secondary" > Create </button>

            </form>
          </div>
        
        </div>
      </div>
    
  </div>
  
</div>    

