

  
      <!---->
      <section  id="Overview" class="mb-4">
        
        <div class="card">
          <div class="card-header text-center py-3">
            <h5 class="mb-0 text-center">
              <strong><%=project.Title%></strong>
            </h5>
          </div>
          <div class="card-body">
            <div class="table-responsive">
              <table class="table table-hover text-nowrap">
                <thead>
                  <tr>
                    <th scope="col">Team Size</th>
                    <th scope="col">Total Backlog Items</th>
                    <th scope="col">Description</th>
                    <th scope="col">DeathLine</th>

                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>4</td>
                    <td>10</td>
                    <td><%=project.description%></td>
                    <td><%=project.Deathline%></td>

                  </tr>
                
                </tbody>
              </table>
            </div>
            
        </div>
        
      </section>
      <!--Section: Sales Performance KPIs-->
  
      <section>
       
      </section>
      