<!DOCTYPE html>
<html>
  <head>
    
    <link rel='stylesheet' href='/stylesheets/mdb.min.css' />
    <link rel='stylesheet' href='/stylesheets/main.css' />
    
  </head>
  <%- include('components/user_nav'); %>

  <body>
    <%- include('components/profile'); %>
    <%- include('components/teams'); %>

 
    <main style="margin-top: 58px">
      <div class="container pt-5">
       
    <% if (context){ %>

    <%- include('components/' + context); %>

    <%}%>

    </div>
  </main>
  </body>

  <script
  type="text/javascript"
  src="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/3.6.0/mdb.min.js">


</script>

 
</html>
